@layer base {
    html {
        @apply
            bg-cyan-50
            dark:bg-gray-950
            text-[10px]
            scroll-smooth
            font-mona
            antialiased;
    }

    body {
        @apply
            text-1p8
            md:text-2
            text-cyan-900
            dark:text-gray-200;
    }

    ::selection {
        @apply
            bg-black
            text-white;
    }

    a:focus,
    button:focus {
        @apply
            outline-none
            ring-2;
    }

    img,
    svg {
        @apply
            max-w-full
            h-auto;
    }

    /* Hide Alpine.js components that are hidden by default */
    [x-cloak] {
        @apply
            hidden;
    }
}

@layer components {
    .wrapper {
        @apply
            w-full
            max-w-[128rem]
            mx-auto
            px-[3vw];

        /* &-no-padding {
            @apply
                max-w-screen-2xl
                mx-auto;
        } */
    }

    .remove-scrollbars {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */

        /* Hide scrollbar for Chrome, Safari and Opera */
        &::-webkit-scrollbar {
            display: none;
        }
    }
}