.btn {
    @apply
        uppercase
        tracking-wider
        text-1p2
        font-medium
        leading-none
        px-2
        py-1
        backdrop-blur-lg
        dark:text-white
        bg-white/40
        dark:bg-transparent
        dark:backdrop-brightness-200
        ring
        ring-inset
        ring-amber-500/30
        dark:ring-pink-500/10
        shadow-xl
        shadow-amber-500/5
        dark:shadow-pink-500/5
        rounded-xl;
}

.link {
    background-image: linear-gradient(var(--color-current), var(--color-current));
    @apply
        font-bold
        bg-no-repeat
        transition-[background-size]
        duration-300;
    background-position: 0% 100%;
    background-size: 100% 1px;

    &:hover {
        background-image: linear-gradient(var(--color-current), var(--color-current));
        background-position: 100% 100%;
        background-size: 0% 1px;
    }
}