.glow-hover {
    &:before {
        content: '';
        @apply
            absolute
            w-full
            h-full
            top-0
            left-0
            opacity-0
            z-[-1];
        border-radius: inherit;
        transition: opacity 0.5s;
        background: radial-gradient(
            circle farthest-side at var(--button-mouse-x) var(--button-mouse-y),
            #fff,
            transparent
        );
    }

    &:hover:before {
        @apply opacity-100;
    }
}

/* Override hover opacity when using data-theme="dark" */
[data-theme="dark"] .glow-hover {
    &:before {
        background: radial-gradient(
            circle farthest-side at var(--button-mouse-x) var(--button-mouse-y),
            theme('colors.pink.500'),
            transparent
        );
    }
    &:hover::before {
        @apply opacity-30;
    }
}