---
import Layout from '@layouts/Layout.astro';
import pic from '@images/profile.jpg';

import { Icon } from 'astro-icon/components'
import { getCollection } from 'astro:content';

const projectsData = await getCollection('projects');
console.log(projectsData);

---

<Layout>
	<section class="h-screen flex items-center justify-center">
        <div class="text-center flex flex-col items-center">
            <div class="relative size-[125px] mb-4 ring-2 ring-blue-900/50 dark:ring-white/50 rounded-full">
                <div class="absolute glow">
                    <div class="absolute size-[125px] bg-yellow-100 dark:bg-blue-500  dark:mix-blend-screen rounded-full animate-[rotate_8s_linear_infinite_reverse] blur"></div>
                    <div class="absolute size-[125px] bg-orange-100 dark:bg-purple-500  dark:mix-blend-screen rounded-full animate-[rotate_4s_linear_infinite] blur"></div>
                    <div class="absolute size-[125px] bg-white dark:bg-yellow-200 dark:mix-blend-screen rounded-full animate-[rotate_6s_linear_infinite] blur"></div>
                </div>
                <div class="absolute size-full rounded-full">
                    <img id="profile-pic" src={ pic.src } alt="" class="rounded-full" />
                </div>
            </div>

            <div class="space-y-4">
                <div>
                    <h1 class="text-[clamp(4rem,5vw,5rem)] mb-1">Jeff Glenn</h1>
                    <h2 class="opacity-75 font-stretch-normal uppercase text-1p4 font-medium">Web Designer &amp; Front-End Developer</h2>
                </div>


                <div class="flex items-center justify-center gap-2">
                    <a href="" class="btn transition-colors duration-500 rounded-xl uppercase text-1p4 font-medium leading-none px-2 py-1 backdrop-blur-lg text-white">About</a>
                    <a href="" class="btn transition-colors duration-500 rounded-xl uppercase text-1p4 font-medium leading-none px-2 py-1 backdrop-blur-lg text-white">Experience</a>
                    <a href="mailto:jeff@jeffglenn.me" class="btn transition-colors duration-500 rounded-xl uppercase text-1p4 font-medium leading-none px-2 py-1 backdrop-blur-lg text-white">Contact</a>
                </div>
            </div>
        </div>

    </section>

    <section class="py-8">
        <div class="wrapper max-w-prose">
            <p>Jeff is a life-long Memphian specializing in digital design & development. Taking a project from conception to completion is his specialty and when he solves a problem, it makes his day. With over 10 years of design experience, ranging from print, web & motion, Jeff is committed to providing clients with professional and engaging designs while always pushing the finished product forward creatively.</p>
            <p>He loves Arrested Development, Hawaii, Disney, Alton Brown and backpacking in the Smoky Mountains.</p>
            <p>He and his wife Megan are beach aficionados and hope to make their home on 30A sooner rather than later.</p>
        </div>
    </section>

    <section class="py-8 wrapper">
        <div class="grid grid-cols-2 gap-1">
            <div class="p-2">
                <h2 class="text-pink-500 dark:text-purple-500 font-medium">Recent Projects</h2>
            </div>

            { projectsData.map(project => (
                <a href={ project.data.url } class="block font-semibold space-y-p5 border border-white/10 p-2 rounded-lg backdrop-blur-2xl hover:bg-white/5">
                    { project.data.title }
                    <Icon name="external" class="inline size-[13px]" />
                    <ul class="text-1 flex flex-wrap gap-1 mt-p5">
                        { project.data.technologies.map(tech => (
                            <li class="bg-white/5 border border-white/10 px-p5 py-p25 rounded-lg">{ tech }</li>
                        )) }
                    </ul>
                </a>
            ))}
        </div>
    </section>

    <section class="wrapper max-w-prose">
        <h2 class="mb-2 font-medium text-pink-500">Work Experience</h2>
        <div class="text-1p6 bg-white/50 dark:bg-white/5 p-4 rounded-lg border border-white/50 dark:border-white/10 shadow-2xl shadow-pink-500/20 dark:shadow-pink-500/10 ">
            <ul class="divide-y divide-pink-500/10 dark:divide-white/10">
                <li class="flex items-start gap-4 pb-4">
                    <div>
                        <h3 class="text-2p4 font-semibold">
                            Partner &amp; Web Director
                        </h3>
                        <h4 class="text-pink-500 font-stretch-normal">
                            <a href="https://2dimes.com">Paradigm Marketing &amp; Creative</a>
                        </h4>

                        <ul class="mt-2 list-disc ml-2">
                            <li>Cupiditate ipsum aut consequatur repudiandae sunt deserunt numquam veniam nemo consequatur quo reiciendis autem id.</li>
                            <li>Iste repellendus quaerat rerum dolorem eveniet sint quo perspiciatis.</li>
                            <li>Nobis inventore rerum officiis blanditiis nobis aut.</li>
                            <li>Eum dicta fuga sunt distinctio dignissimos quis.</li>
                        </ul>
                    </div>
                    <div class="shrink-0 bg-white/5 px-2 py-p5 rounded-lg text-1p4">
                        2017-Present
                    </div>
                </li>
                <li class="flex items-start gap-4 py-4">
                    <div>
                        <h3 class="text-2p4 font-semibold">
                            Web Designer &amp; Developer
                        </h3>
                        <h4 class="text-pink-500 font-stretch-normal">
                            Freelance
                        </h4>
                        <ul class="mt-2 list-disc ml-2">
                            <li>Cupiditate ipsum aut consequatur repudiandae sunt deserunt numquam veniam nemo consequatur quo reiciendis autem id.</li>
                            <li>Iste repellendus quaerat rerum dolorem eveniet sint quo perspiciatis.</li>
                            <li>Nobis inventore rerum officiis blanditiis nobis aut.</li>
                            <li>Eum dicta fuga sunt distinctio dignissimos quis.</li>
                        </ul>
                    </div>
                    <div class="shrink-0 bg-white/5 px-2 py-p5 rounded-lg text-1p4">
                        2013-2017
                    </div>
                </li>
                <li class="flex items-start gap-4 py-4">
                    <div>
                        <h3 class="text-2p4 font-semibold">
                            Web Designer &amp; Developer
                        </h3>
                        <h4 class="text-pink-500 font-stretch-normal">
                            Deluge Studios
                        </h4>

                        <ul class="mt-2 list-disc ml-2">
                            <li>Cupiditate ipsum aut consequatur repudiandae sunt deserunt numquam veniam nemo consequatur quo reiciendis autem id.</li>
                            <li>Nobis inventore rerum officiis blanditiis nobis aut.</li>
                            <li>Eum dicta fuga sunt distinctio dignissimos quis.</li>
                        </ul>
                    </div>
                    <div class="shrink-0 bg-white/5 px-2 py-p5 rounded-lg text-1p4">
                        2009-2014
                    </div>
                </li>
                <li class="flex items-start gap-4 pt-4">
                    <div>
                        <h3 class="text-2p4 font-semibold">
                            Motion Graphic Designer
                        </h3>
                        <h4 class="text-pink-500 font-stretch-normal">
                            The University Network
                        </h4>

                        <ul class="mt-2 list-disc ml-2">
                            <li>Cupiditate ipsum aut consequatur repudiandae sunt deserunt numquam veniam nemo consequatur quo reiciendis autem id.</li>
                            <li>Iste repellendus quaerat rerum dolorem eveniet sint quo perspiciatis.</li>
                        </ul>
                    </div>
                    <div class="shrink-0 bg-white/5 px-2 py-p5 rounded-lg text-1p4">
                        2007-2009
                    </div>
                </li>
            </ul>
        </div>

    </section>

    <section class="py-8">
        <div class="wrapper">
            <p>Logo list?</p>
            <p>Allure, Ballet Memphis, Regency, Orpheum, Reinhart, Dixon, Brother</p>
        </div>
    </section>

    <section>
        Contact Information
    </section>
</Layout>

<style>
    @keyframes rotate {
        from {  -webkit-transform: rotate(0deg) translateX(10px) rotate(0deg); }
        to   {  -webkit-transform: rotate(360deg) translateX(10px) rotate(-360deg); }
    }
</style>