---
import Layout from '@layouts/Layout.astro';
import pic from '@images/profile.jpg';
import backpacking from '@images/backpacking.webp';
import hawaii from '@images/hawaii.webp';
import photo from '@images/photo.webp';
import sanibel from '@images/sanibel.webp';
import travel from '@images/travel.webp';

import { Icon } from 'astro-icon/components'
import { getCollection, render } from 'astro:content';
import { Image } from "astro:assets"

const projectsData = await getCollection('projects');
const experienceData = (
    await getCollection('experience')
).sort(
    (a, b) => a.data.id - b.data.id
);
---

<Layout>
	<section class="h-screen flex items-center justify-center">
        <div class="text-center flex flex-col items-center">
            <div
                class="confetti relative size-[125px] mb-4 ring-2 ring-cyan-400/50 dark:ring-white/50 rounded-full rounded-bl-none"
                data-stagger-fade-in
            >
                <div class="absolute glow">
                    <div class="absolute size-[125px] bg-yellow-200 dark:bg-blue-500  dark:mix-blend-screen rounded-full rounded-bl-none animate-[rotate_8s_linear_infinite_reverse] blur"></div>
                    <div class="absolute size-[125px] bg-yellow-100 dark:bg-purple-500  dark:mix-blend-screen rounded-full rounded-bl-none animate-[rotate_4s_linear_infinite] blur"></div>
                    <div class="absolute size-[125px] bg-white dark:bg-yellow-200 dark:mix-blend-screen rounded-full rounded-bl-none animate-[rotate_6s_linear_infinite] blur"></div>
                </div>
                <div class="absolute size-full rounded-full rounded-bl-none">
                    <img id="profile-pic" src={ pic.src } alt="" class="rounded-full rounded-bl-none" />
                </div>
            </div>

            <div class="space-y-4">
                <div>
                    <h1
                        class="text-[clamp(4rem,5vw,5rem)] mb-1 "
                        data-stagger-fade-in
                    >
                        Jeff Glenn
                    </h1>
                    <h2
                        class="font-stretch-normal text-1p6 font-medium"
                        data-stagger-fade-in
                    >
                        Web Designer &amp; Front-End Developer
                    </h2>
                </div>

                <div class=" flex items-center justify-center gap-2">
                    <a
                        href="#about"
                        class="btn glow-hover"
                        data-stagger-fade-in
                    >
                        About
                    </a>
                    <a
                        href="#projects"
                        class="btn glow-hover"
                        data-stagger-fade-in
                    >
                        Experience
                    </a>
                    <a
                        href="mailto:jeff@jeffglenn.me"
                        class="btn glow-hover"
                        data-stagger-fade-in
                    >
                        Contact
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section id="about" class="mb-16 wrapper max-w-prose space-y-2 scroll-mt-16">
        <h2 class="text-[clamp(4rem,5vw,5rem)]" data-fade-in>Design and development, <span class="text-[1.25em] block font-lora italic font-bold">built around your story.</span></h2>
        <p data-fade-in>
            Jeff is a Memphis-based designer and developer with over a decade of experience in web, print, motion, and photography. He specializes in taking projects from concept to completion, focusing on clean, effective design and thoughtful problem-solving.
        </p>
        <p data-fade-in>
            As a partner at
            <a href="https://2dimes.com" class="relative link popup-hover cursor-none">
                Paradigm Marketing & Creative
                <span class="pointer-events-none popup-content absolute top-1/2 left-1/2 -translate-1/2 size-[125px] backdrop-blur-md rounded-full p-1 backdrop-brightness-125 dark:backdrop-brightness-200 bg-white/50 dark:bg-black/50 shadow-lg">
                    <Icon name="paradigm-logo" class="size-full" />
                </span>
            </a>
            , Jeff helps businesses refine their digital presence with a mix of strategy and creativity. He started freelancing in 2014 and worked with Paradigm for over five years before officially joining the team.
        </p>
        <p data-fade-in>
            Outside of work, Jeff enjoys
            <span class="relative popup-hover font-bold cursor-none">backpacking in the Smoky Mountains,
                <span class="popup-content absolute top-1/2 left-1/2 -translate-1/2 w-[300px] h-auto pointer-events-none">
                    <Image
                        src={ backpacking }
                        class="rounded-lg"
                        alt=""
                    />
                </span>
            </span>
            <span class="relative popup-hover font-bold cursor-none">Hawaii,
                <span class="popup-content absolute top-1/2 left-1/2 -translate-1/2 w-[300px] h-auto pointer-events-none">
                    <Image
                        src={ hawaii }
                        class="rounded-lg"
                        alt=""
                    />
                </span>
            </span>
            <span class="relative popup-hover font-bold cursor-none">Sanibel Island,
                <span class="popup-content absolute top-1/2 left-1/2 -translate-1/2 w-[300px] h-auto pointer-events-none">
                    <Image
                        src={ sanibel }
                        class="rounded-lg"
                        alt=""
                    />
                </span>
            </span>
            <span class="relative popup-hover font-bold cursor-none">photography,
                <span class="popup-content absolute top-1/2 left-1/2 -translate-1/2 w-[300px] h-auto pointer-events-none">
                    <Image
                        src={ photo }
                        class="rounded-lg"
                        alt=""
                    />
                </span>
            </span>
            and
            <span class="relative popup-hover font-bold cursor-none">traveling to Disney with his family.
                <span class="popup-content absolute top-1/2 left-1/2 -translate-1/2 w-[300px] h-auto pointer-events-none">
                    <Image
                        src={ travel }
                        class="rounded-lg"
                        alt=""
                    />
                </span>
            </span>
        </p>
    </section>

    <section class="my-16 wrapper">
        <div class="grid grid-cols-3 gap-1">
            <div class="p-2 self-end text-right" data-fade-in>
                <h2 class="dark:text-pink-500 font-medium">Recent Projects</h2>
            </div>

            { projectsData.map(project => (
                <a
                    href={ project.data.url }
                    class="flex flex-col justify-between aspect-video relative z-10 font-semibold p-2 rounded-lg backdrop-brightness-200 overflow-clip"
                    data-fade-in
                    data-project
                >
                    <div>
                        <h2>{ project.data.title } <Icon name="external" class="inline size-[15px] align-baseline" /></h2>
                    </div>
                    <ul class="text-1 flex flex-wrap gap-1 mt-p5">
                        { project.data.technologies.map(tech => (
                            <li class="bg-white/5 border border-white/10 px-p5 py-p25 rounded-lg">{ tech }</li>
                        )) }
                    </ul>
                    <Image
                        src={ project.data.image.src }
                        alt=""
                        width=1600
                        height=900
                        class="absolute top-1/2 left-1/2 -translate-1/2 size-full object-cover -z-10 mask-t-from-0"
                    />
                </a>
            ))}
        </div>
    </section>

    <section class="wrapper max-w-prose mb-16">
        <h2 class="mb-2 font-medium dark:text-pink-500" data-fade-in>Experience</h2>
        <div class="text-1p6 px-4 rounded-lg shadow-xl shadow-amber-500/5 dark:shadow-pink-500/5 backdrop-blur-lg bg-white/40 dark:bg-transparent dark:backdrop-brightness-200 overflow-clip" data-fade-in>
            <ul class="divide-y divide-amber-500/25 dark:divide-white/10">
                { experienceData.map(async (experience) => {
                    const { Content } = await render(experience);
                    return (
                        <li class="flex items-start gap-4 py-4" data-fade-in>
                            <div class="flex-1 space-y-2">
                                <div class="space-y-p5">
                                    <h3 class="text-2p4 font-semibold">
                                        { experience.data.position }
                                    </h3>
                                    <h4 class="text-amber-700 dark:text-pink-500 font-stretch-normal">
                                        { experience.data.companyUrl ? (
                                            <a
                                                href={ experience.data.companyUrl }
                                                class="link"
                                            >
                                                { experience.data.company }
                                            </a>
                                        ) : (
                                            experience.data.company
                                        ) }
                                    </h4>
                                </div>

                                <Content />
                            </div>
                            <div class="shrink-0 text-1p2 rounded-lg px-2 py-p5 bg-white/40 dark:bg-white/10">
                                { experience.data.dates }
                            </div>
                        </li>
                    )
                })}
            </ul>
        </div>

    </section>



</Layout>

<style>
    @keyframes rotate {
        from {  -webkit-transform: rotate(0deg) translateX(10px) rotate(0deg); }
        to   {  -webkit-transform: rotate(360deg) translateX(10px) rotate(-360deg); }
    }
</style>