---
import Layout from '@layouts/Layout.astro';
import pic from '@images/profile.jpg';
---

<Layout>
	<section class="h-screen flex items-center justify-center">
        <div class="text-center flex flex-col items-center">
            <div class="relative size-[125px] mb-4 ring-2 ring-blue-900/50 dark:ring-white/50 rounded-full">
                <div class="absolute glow">
                    <div class="absolute size-[125px] bg-yellow-100 dark:bg-blue-500  dark:mix-blend-screen rounded-full animate-[rotate_8s_linear_infinite_reverse] blur"></div>
                    <div class="absolute size-[125px] bg-orange-100 dark:bg-purple-500  dark:mix-blend-screen rounded-full animate-[rotate_4s_linear_infinite] blur"></div>
                    <div class="absolute size-[125px] bg-white dark:bg-yellow-200 dark:mix-blend-screen rounded-full animate-[rotate_6s_linear_infinite] blur"></div>
                </div>
                <div class="absolute size-full rounded-full">
                    <img id="profile-pic" src={ pic.src } alt="" class="rounded-full" />
                </div>
            </div>

            <div class="space-y-4">
                <div>
                    <!-- <h1 class="text-6 dark:text-gray-200">Jeff Glenn</h1> -->
                    <h1 class="text-[clamp(4rem,5vw,5rem)] mb-1">Jeff Glenn</h1>
                    <h2 class="opacity-75 font-stretch-normal uppercase text-1p4 font-medium">Web Designer &amp; Front-End Developer</h2>
                    <!-- <p>Currently the Web Director at Paradigm Marketing &amp; Creative</p> -->
                </div>


                <div class="flex items-center justify-center gap-2">
                    <a href="" class="btn transition-colors duration-500 rounded-xl uppercase text-1p4 font-medium leading-none px-2 py-1 backdrop-blur-lg text-white">About</a>
                    <a href="" class="btn transition-colors duration-500 rounded-xl uppercase text-1p4 font-medium leading-none px-2 py-1 backdrop-blur-lg text-white">Experience</a>
                    <a href="" class="btn transition-colors duration-500 rounded-xl uppercase text-1p4 font-medium leading-none px-2 py-1 backdrop-blur-lg text-white">Contact</a>
                </div>
            </div>
        </div>

    </section>

    <section>

    </section>

    <section class="wrapper">
        <div class="bg-white/50 dark:bg-white/5 p-4 rounded-lg backdrop-blur-3xl border border-white/10 shadow-2xl">
            <h2 class="text-1p6 uppercase mb-4 font-medium">Work Experience</h2>

            <ul class="divide-y divide-white/50">
                <li class="flex items-start gap-4 pb-4">
                    <div>
                        <h3 class="text-2p4">Partner &amp; Web Director</h3>
                        <!-- <h4 class="text-fuchsia-500 font-stretch-normal text-1p4 uppercase">Paradigm Marketing &amp; Creative</h4> -->
                        <h4 class="bg-gradient-to-r from-fuchsia-500 to-yellow-500 inline-block text-transparent bg-clip-text font-stretch-normal text-1p4 uppercase">Paradigm Marketing &amp; Creative</h4>

                        <ul class="mt-2 list-disc ml-2">
                            <li>Cupiditate ipsum aut consequatur repudiandae sunt deserunt numquam veniam nemo consequatur quo reiciendis autem id.</li>
                            <li>Iste repellendus quaerat rerum dolorem eveniet sint quo perspiciatis.</li>
                            <li>Nobis inventore rerum officiis blanditiis nobis aut.</li>
                            <li>Eum dicta fuga sunt distinctio dignissimos quis.</li>
                        </ul>
                    </div>
                    <div class="shrink-0 bg-white/5 px-2 py-p5 rounded-lg text-1p4">
                        2017-Present
                    </div>
                </li>
                <li class="flex items-start gap-4 py-4">
                    <div>
                        <h3 class="text-2p4 mb-1">Freelance Web Designer &amp; Developer</h3>

                        <ul class="mt-2 list-disc ml-2">
                            <li>Cupiditate ipsum aut consequatur repudiandae sunt deserunt numquam veniam nemo consequatur quo reiciendis autem id.</li>
                            <li>Iste repellendus quaerat rerum dolorem eveniet sint quo perspiciatis.</li>
                            <li>Nobis inventore rerum officiis blanditiis nobis aut.</li>
                            <li>Eum dicta fuga sunt distinctio dignissimos quis.</li>
                        </ul>
                    </div>
                    <div class="shrink-0 bg-white/5 px-2 py-p5 rounded-lg text-1p4">
                        2013-2017
                    </div>
                </li>
                <li class="flex items-start gap-4 py-4">
                    <div>
                        <h3 class="text-2p4">Web Designer &amp; Developer</h3>
                        <h4 class="text-fuchsia-500 font-stretch-normal text-1p4 uppercase">Deluge Studios</h4>

                        <ul class="mt-2 list-disc ml-2">
                            <li>Cupiditate ipsum aut consequatur repudiandae sunt deserunt numquam veniam nemo consequatur quo reiciendis autem id.</li>
                            <li>Nobis inventore rerum officiis blanditiis nobis aut.</li>
                            <li>Eum dicta fuga sunt distinctio dignissimos quis.</li>
                        </ul>
                    </div>
                    <div class="shrink-0 bg-white/5 px-2 py-p5 rounded-lg text-1p4">
                        2009-2014
                    </div>
                </li>
                <li class="flex items-start gap-4 pt-4">
                    <div>
                        <h3 class="text-2p4">Motion Graphic Designer</h3>
                        <h4 class="bg-gradient-to-r from-fuchsia-500 to-yellow-500 inline-block text-transparent bg-clip-text font-stretch-normal text-1p4 uppercase">The University Network</h4>

                        <ul class="mt-2 list-disc ml-2">
                            <li>Cupiditate ipsum aut consequatur repudiandae sunt deserunt numquam veniam nemo consequatur quo reiciendis autem id.</li>
                            <li>Iste repellendus quaerat rerum dolorem eveniet sint quo perspiciatis.</li>
                        </ul>
                    </div>
                    <div class="shrink-0 bg-white/5 px-2 py-p5 rounded-lg text-1p4">
                        2007-2009
                    </div>
                </li>
            </ul>
        </div>

    </section>

    <section class="py-8">
        <div class="wrapper">
            <p>Links</p>
            <p>Orpheum, Regency, Dixon, Brother DTG, Production DTG, Reinhart, The Henry, Beechfork, Mission, Miestro, thomas family law, Madeline Farms</p>
        </div>
    </section>
    <section class="py-8">
        <div class="wrapper">
            <p>Logo list</p>
            <p>Allure, Ballet Memphis, Regency, Orpheum, Reinhart, Dixon, Brother</p>
        </div>
    </section>
</Layout>

<style>
    @keyframes rotate {
        from {  -webkit-transform: rotate(0deg) translateX(10px) rotate(0deg); }
        to   {  -webkit-transform: rotate(360deg) translateX(10px) rotate(-360deg); }
    }
</style>