---
import "@styles/styles.css";

import { Icon } from 'astro-icon/components'
import HeaderIcons from 'src/components/header-icons.astro';
---

<!doctype html>
<html
    lang="en"
    x-data="{
        theme: localStorage.getItem('theme') || 'dark'
    }"
    x-init="
        $watch('theme', val => localStorage.setItem('theme', val));
        localStorage.setItem('theme', theme);
    "
    x-bind:data-theme="
        theme === 'system'
        ? (window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light')
        : theme
    "
>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />

		<title>Astro Basics</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&family=Mona+Sans:wdth,wght@75..125,200..900&display=swap" rel="stylesheet">    </head>
	<body>
        <a class="sr-only focus:not-sr-only" href="#main-content">Skip to Main Content</a>

        <HeaderIcons />

        <main id="#main-content">
            <slot />
        </main>

        <Icon name="bg-svg-1" class="fixed -top-1/4 -right-1/4 size-full text-red-500 -z-10 opacity-15 blur-[150px] animate-[spin_15s_linear_infinite] " />
        <Icon name="bg-svg-2" class="fixed -bottom-1/4 -left-1/4 size-full text-purple-500 -z-10 opacity-10 blur-[150px] animate-[spin_18s_linear_infinite_reverse]" />
	</body>
</html>

<script>
    import "../scripts/app.js";
</script>

<style>
    @keyframes rotate {
        from {  -webkit-transform: rotate(0deg) rotate(0deg); }
        to   {  -webkit-transform: rotate(360deg) rotate(-360deg); }
    }
</style>